header{
    display: grid;
    justify-content: space-between;
    align-items: center;
    grid-template-columns: 1fr 1fr 8fr 3fr 1fr;
}

.btnMenu{
    display: inline-block;
}

.linkToMain{

    display: flex;
}

.inputSearch{
    display: inline-block;
}

.btnUser{
    display: inline-block;
}

.imgLogo{
    width:40px;
}

.imgMenu{
    width:40px;
    object-fit: cover;
}